# Ignore Kernel Module Build Artifacts
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.cmd
modules.order
Module.symvers

# Ignore legacy root-level sources (kept locally only)
camera_client.h
camera_client.c
/cam_stream.c

# Ignore User-space Binaries
camera_client
trigger_server
*.out
*.exe
*.raw

# Ignore Build and Temporary Files
/build/
/dist/
/tmp/  
/*.bak
*.lo
trigger_server.py

# Generated temporarily. CI copies docs into gh-pages/docs
/docs  

# Ignore Editor / System Files
*.swp
*.swo
.vscode/
.idea/
.DS_Store

# Python Cache Files
__pycache__/
*.pyc
*.pyo


